*{
	margin: 0;
	padding: 0;
    font-family: "Permanent Marker", cursive;
}

h1{
	text-align: center;
	margin: 50px;
}

.container{
	display: flex;
	justify-content: center;
	align-content: center;
}

.game-board{
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	border: 2px solid black;
	
}

.cell{
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	cursor: pointer;
	font-size: 50px;
}

.game-status{
    text-align: center;
    padding: 20px;
}

.button-container{
	display: flex;
    justify-content: center;
}

.restart-button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white
}

.restart-button:active{
    background-color: grey;
    color: white;
}